/* -----------------------main-section--------------------- */

.main-section {
    position: relative;
    padding: 100px 0 200px 0;
    min-height: 100vh;
    display: grid;
    place-items: center;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.27);
        box-shadow: 0px 2px 4px 0px rgba(92, 92, 92, 0.25);
        backdrop-filter: blur(20px);
        z-index: 1;
        animation: blurAnim 0.7s ease-in forwards;
    }

    @keyframes blurAnim {
        from {
            backdrop-filter: blur(40px);
            background: rgba(255, 255, 255, 0.27);
        }
        to {
            backdrop-filter: blur(0px);
            background: rgba(255, 255, 255, 0);
        }
    }

    .picture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .main-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        transform: scale(1.3);
        animation: bgAnim 0.7s ease-in forwards;
    }

    @keyframes bgAnim {
        from {
            transform: scale(1.8);
        }
        to {
            transform: scale(1);
        }
    }

    .content {
        position: relative;
        text-align: center;
        z-index: 2;
    }

    .main-title {
        color: $black;
        margin-bottom: 16px;
        font: $regular 80px $Montserrat;
        letter-spacing: 4px;

        @include media('<widescreen') {
            font-size: 54px;
            letter-spacing: 0.72px;
        }

        @include media('<tablet') {
            font-size: 30px;
            font-weight: $medium;
        }

        @include media('<phone') {
            margin-bottom: 8px;
            font-size: 24px;
        }
    }

    .main-text {
        margin: 0 auto 40px auto;
        color: $black;
        font: $regular 24px/1.1 $Montserrat;
        letter-spacing: 0.48px;

        @include media('<widescreen') {
            font-size: 20px;
        }

        @include media('<tablet') {
            font-size: 18px;
        }

        @include media('<phone') {
            margin: 0 auto 16px auto;
            font-size: 16px;
            line-height: 1.5;
        }
    }

    .arrow-down {
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translate(-50%);
        width: 40px;
        height: 40px;
        z-index: 1;
        transition: $anim_03;

        @include media('<phone') {
            bottom: 40px;
        }

        &:hover {
            transform: translate(-50%, 10px);
        }
    }
}

/* --------------------advantages-section------------------- */

.advantages-section {
    .block {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
        row-gap: 40px;

        @include media('<desktop') {
            flex-direction: column;
        }
    }

    .accordion {
        width: 100%;
        max-width: 622px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include media('<laptop') {
            gap: 20px;
        }

        @include media('<desktop') {
            max-width: 100%;
        }

        @include media('<tablet') {
            gap: 16px;
        }

        &.show {
            .accordion-item {
                opacity: 1;
                transform: translate(0px);
            }
        }
    }

    .accordion-item {
        opacity: 0;
        transform: translate(-50px);
        transition: $anim_05;

        @include delay;

        &:hover {
            .accordion-plus {
                opacity: 1;
            }
        }

        &.open {
            .accordion-content {
                max-height: 100px;
                margin-top: 16px;
            }

            .accordion-plus {
                opacity: 1;
                transform: rotate(135deg);
            }
        }
    }

    .accordion-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        border-bottom: 1px solid $gray;
        padding-bottom: 40px;
        cursor: pointer;

        @include media('<laptop') {
            padding-bottom: 20px;
        }

        @include media('<tablet') {
            padding-bottom: 16px;
        }

        @include media('<phone') {
            gap: 10px;
        }
    }

    .accordion-title {
        margin: 0;
        color: $black;
        font: $regular 40px $Montserrat;
        letter-spacing: 0.8px;

        @include media('<laptop') {
            font-size: 34px;
        }

        @include media('<widescreen') {
            font-size: 28px;
        }

        @include media('<tablet') {
            font-size: 22px;
            letter-spacing: 0.44px;
        }
    }

    .accordion-plus {
        opacity: 0;
        transition: $anim_03;

        @include media('<desktop') {
            opacity: 1;
        }

        @include media('<tablet') {
            width: 24px;
            height: 24px;
        }
    }

    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: $anim_03;
        margin: 0;
        color: $black;
        font: $regular 18px/1.6 $Montserrat;
        letter-spacing: 0.36px;

        @include media('<tablet') {
            font-size: 16px;
        }
    }

    .img-wrap {
        position: relative;
        width: 100%;
        max-width: 670px;
        height: 740px;

        @include media('<laptop') {
            height: 540px;
        }

        @include media('<desktop') {
            max-width: 100%;
            height: 400px;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/* ---------------------products-section-------------------- */

.products-section {
    .title {
        @include media('<widescreen') {
            font-size: 38px;
        }

        @include media('<phone') {
            text-align: center;
            font-size: 24px;
        }
    }

    .btn {
        min-width: max-content;

        @include media('<tablet') {
            display: none;
        }

        @include media('<phone') {
            width: 100%;
        }

        &.mob {
            display: none;

            @include media('<tablet') {
                position: relative;
                display: inline-block;
                left: 50%;
                transform: translate(-50%);
            }
        }
    }

    .btn-link {
        min-width: max-content;

        @include media('<phone') {
            position: absolute;
            inset: 0;
            color: transparent;
            text-shadow: none;

            &::before {
                display: none;
            }
        }
    }

    .swiper {
        width: 80%;
        margin: 0;
        overflow: visible;
    }

    .card {
        position: relative;
        min-height: 670px;
        display: flex;
        align-items: flex-end;

        @include media('<laptop') {
            min-height: 470px;
        }

        @include media('<desktop') {
            min-height: 400px;
        }

        @include media('<phone') {
            min-height: 270px;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.2) 100%
            );
            z-index: 1;
        }
    }

    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .text-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 24px 36px;
        z-index: 2;

        @include media('<tablet') {
            padding: 12px;
        }
    }

    .name {
        margin: 0;
        color: $white;
        font: $regular 18px $Montserrat;
        text-transform: uppercase;

        @include media('<tablet') {
            font-size: 12px;
        }
    }

    .slider-nav {
        max-width: 900px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        margin: 0 auto;
        padding-top: 40px;

        @include media('<tablet') {
            max-width: 100%;
            padding-top: 25px;
            margin-bottom: 40px;
        }
    }

    .products-pagination {
        position: relative;
        max-width: 666px;
        height: 6px;
        border-radius: 300px;
        background-color: $gray;

        @include media('<tablet') {
            height: 4px;
        }
    }

    .swiper-pagination-progressbar-fill {
        background-color: $accent;
        border-radius: 300px;
    }

    .arrows {
        display: flex;
        align-items: center;
        gap: 40px;

        @include media('<tablet') {
            display: none;
        }
    }

    .arrow {
        cursor: pointer;
        transition: $anim_03;

        &:hover {
            transform: scale(1.1);
        }

        &.swiper-button-disabled {
            cursor: no-drop;

            svg {
                fill: $gray;
            }
        }

        svg {
            fill: $black;
            transition: $anim_03;
        }
    }
}

/* ----------------------stones-section--------------------- */

.stones-sections {
    .block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 24px;

        @include media('<tablet') {
            grid-template-columns: 1fr 1fr;
        }

        @include media('<phone') {
            grid-template-columns: 1fr;
        }

        &.show {
            .item {
                opacity: 1;
            }
        }
    }

    .item {
        display: grid;
        flex-direction: column;
        gap: 16px;
        opacity: 0;
        transition: $anim_05;

        @include delay;

        @include media('<tablet') {
            gap: 8px;
        }

        &:hover {
            img {
                transform: scale(1.3);
            }
        }
    }

    .img-wrap {
        position: relative;
        width: 100%;
        height: 520px;
        overflow: hidden;

        @include media('<widescreen') {
            height: 420px;
        }

        @include media('<desktop') {
            height: 320px;
        }

        @include media('<tablet') {
            height: 270px;
            font-size: 16px;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: $anim_03;
        }
    }

    .name {
        margin: 0;
        color: $black;
        font: $regular 18px $Montserrat;
        text-transform: uppercase;

        @include media('<tablet') {
            font-size: 16px;
        }
    }
}

/* ----------------------content-section-------------------- */

.content-section {
    .content {
        display: flex;
        align-items: center;
        gap: 100px;

        @include media('<widescreen') {
            gap: 40px;
        }

        @include media('<desktop') {
            flex-direction: column-reverse;
        }
    }

    .img-wrap {
        position: relative;
        width: 670px;
        height: 740px;

        @include media('<widescreen') {
            height: 520px;
        }

        @include media('<desktop') {
            width: 100%;
        }

        @include media('<phone') {
            height: 400px;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .block {
        width: 100%;
        max-width: 560px;
        padding: 30px 0;

        @include media('<desktop') {
            max-width: 100%;
            text-align: center;
            padding: 0;
        }

        @include media('<tablet') {
            text-align: left;
        }
    }

    .block-title {
        padding-bottom: 24px;
        margin-bottom: 24px;
        border-bottom: 1px solid $gray;
        color: $black;
        font: $regular 40px $Montserrat;
        letter-spacing: 0.8px;

        @include media('<widescreen') {
            font-size: 32px;
        }

        @include media('<tablet') {
            padding-bottom: 16px;
        }

        @include media('<phone') {
            font-size: 22px;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        list-style: none;
        padding: 0;
        margin: 0 0 40px 0;

        @include media('<widescreen') {
            gap: 16px;
        }

        @include media('<tablet') {
            margin: 0 0 24px 0;
        }

        &.show {
            .item {
                opacity: 1;
                transform: translate(0);
            }
        }
    }

    .item {
        color: $gray66;
        font: $regular 18px/1.4 $Montserrat;
        letter-spacing: 0.36px;
        opacity: 0;
        transform: translate(50px);
        transition: $anim_05;

        @include delay;

        @include media('<phone') {
            font-size: 16px;
        }
    }

    .btn {
        min-width: 270px;

        @include media('<phone') {
            width: 100%;
        }
    }

    &.rev {
        .content {
            justify-content: space-between;
            border-top: 1px solid $gray;

            @include media('<desktop') {
                flex-direction: column;
                border-top: none;
            }
        }

        .block-title {
            font-size: 50px;
            border: none;

            @include media('<widescreen') {
                font-size: 38px;
            }

            @include media('<desktop') {
                border-bottom: 1px solid $gray;
            }

            @include media('<phone') {
                font-size: 24px;
            }
        }

        .item {
            transform: translate(-50px);
        }
    }
}

/* -----------------------about-section--------------------- */

.about-section {
    .container {
        @include media('<desktop') {
            padding: 0;
        }
    }

    .content {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .img-block {
        position: relative;
        width: 100%;
        max-width: 770px;
        min-height: 863px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        padding: 120px 18px 40px 80px;
        z-index: 2;

        @include media('<desktop') {
            max-width: 100%;
            padding: 60px 40px;
            min-height: 0;
        }

        @include media('<phone') {
            padding: 60px 12px;
        }

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
    }

    .img-wrap {
        position: absolute;
        left: 75%;
        width: 400px;
        height: 256px;

        @include media('<widescreen_x') {
            left: 90%;
        }

        @include media('<desktop') {
            position: relative;
            left: auto;
            align-self: end;
            transform: translate(40px);
        }

        @include media('<tablet') {
            width: 233px;
            height: 154px;
        }

        @include media('<phone') {
            transform: translate(12px);
        }

        .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .img-block-title {
        max-width: 60%;
        margin: 0;
        color: $black;
        font: $regular 40px $Montserrat;
        letter-spacing: 0.8px;

        @include media('<widescreen_x') {
            max-width: 90%;
        }

        @include media('<desktop') {
            max-width: 100%;
        }

        @include media('<tablet') {
            font-size: 32px;
        }

        @include media('<phone') {
            font-size: 24px;
        }
    }

    .img-block-text {
        text-align: end;
        margin: 0;
        color: $black;
        font: $regular 18px $Montserrat;
        text-transform: uppercase;

        @include media('<phone') {
            text-align: start;
        }
    }

    .text-block {
        position: relative;
        max-width: 466px;
        align-self: flex-end;
        padding-top: 108px;

        @include media('<desktop') {
            display: none;
            align-self: flex-start;
            padding-top: 20px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 150%;
            height: 1px;
            background-color: $gray;

            @include media('<desktop') {
                display: none;
            }
        }

        &.mob {
            display: none;

            @include media('<desktop') {
                display: block;
            }
        }
    }

    .text-block-text {
        margin: 0;
        color: $gray66;
        font: $regular 18px/1.4 $Montserrat;
        letter-spacing: 0.36px;

        @include media('<phone') {
            font-size: 16px;
        }
    }
}

/* ----------------------contact-section-------------------- */

.contact-section {
    padding: 100px 0;
    background-color: $black11;

    @include media('<desktop') {
        padding: 75px 0;
    }

    .contact-title {
        margin-bottom: 80px;
        text-align: center;
        color: $accent;
        font: $regular 80px/1.1 $Montserrat;
        text-transform: uppercase;

        @include media('<widescreen') {
            font-size: 66px;
        }

        @include media('<desktop') {
            font-size: 56px;
        }

        @include media('<tablet') {
            margin-bottom: 40px;
            font-size: 46px;
        }

        @include media('<phone') {
            font-size: 24px;
        }
    }

    form {
        width: 100%;
        max-width: 800px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 40px;
        margin: 0 auto;

        @include media('<phone') {
            row-gap: 28px;
        }

        .input {
            width: 49%;
            background: none;
            border: none;
            border-bottom: 1px solid rgba($white, 0.6);
            padding: 12px 0;
            color: $accent;
            font: $regular 18px/1.2 $Montserrat;
            transition: $anim_03;

            @include media('<tablet') {
                width: 100%;
            }

            @include media('<phone') {
                font-size: 16px;
            }

            &::placeholder {
                text-transform: uppercase;

                @include media('<phone') {
                    text-transform: none;
                }
            }

            &:focus {
                border-color: $white;
            }
        }

        .textarea {
            width: 100%;
            border: 1px solid rgba($white, 0.6);
            padding: 16px;
            min-height: 116px;

            @include media('<phone') {
                line-height: 1.5;
                padding: 8px;
            }

            &::placeholder {
                text-transform: none;
            }
        }

        .file-wrap {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 16px;
            padding-bottom: 16px;
            border-bottom: 1px solid rgba($white, 0.6);

            @include media('<phone') {
                padding-bottom: 8px;
            }

            .btn {
                margin: 0;
            }
        }

        .file-input {
            display: none;
        }

        .file-name {
            color: $white;
            font: $regular 18px/1.4 $Montserrat;
            letter-spacing: 0.36px;

            @include media('<phone') {
                font-size: 16px;
            }
        }

        .text {
            margin: 0;
            color: $white;
            font: $regular 18px/1.4 $Montserrat;
            letter-spacing: 0.36px;

            @include media('<tablet') {
                font-size: 16px;
            }

            @include media('<phone') {
                font-size: 12px;
            }
        }

        .btn {
            margin-left: auto;
            border-radius: 100px;
            cursor: pointer;

            @include media('<phone') {
                width: 100%;
            }
        }
    }
}

/* ------------------------page-section--------------------- */

.page-section {
    padding: 200px 0 150px 0;

    @include media('<widescreen') {
        padding: 120px 0 80px 0;
    }

    .page-title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding-bottom: 40px;
        border-bottom: 1px solid $gray;
        margin-bottom: 80px;

        @include media('<widescreen') {
            padding-bottom: 30px;
            margin-bottom: 50px;
        }

        @include media('<phone') {
            padding-bottom: 16px;
            margin-bottom: 40px;
        }
    }

    .arrow {
        display: none;
        width: 30px;
        height: 30px;

        @include media('<phone') {
            display: block;
        }
    }

    .page-title {
        margin: 0 auto;
        color: $black;
        text-align: center;
        font: $regular 50px/1.1 $Montserrat;
        text-transform: uppercase;

        @include media('<widescreen') {
            font-size: 38px;
        }

        @include media('<tablet') {
            font-size: 24px;
        }
    }

    .grid-block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 32px;
        column-gap: 20px;

        @include media('<desktop') {
            grid-template-columns: 1fr 1fr;
        }

        @include media('<tablet') {
            grid-template-columns: 1fr;
        }
    }

    .item {
        position: relative;

        &.img-hover {
            &:hover {
                img {
                    transform: scale(1.3);
                }

                .orange {
                    text-shadow: 0 0 2px $accent;

                    &::before {
                        box-shadow: 0 0 2px $accent;
                    }
                }
            }
        }

        &.info-hover {
            &:hover {
                .text {
                    opacity: 1;
                }
            }
        }
    }

    .accordion-item {
        @include media('<desktop') {
            .accordion-content {
                max-height: 0;
            }

            &.open {
                .accordion-content {
                    max-height: 100%;
                    padding: 8px 0;
                }
            }
        }
    }

    .link {
        position: absolute;
        inset: 0;
        z-index: 2;
    }

    .img-wrap {
        position: relative;
        width: 100%;
        min-height: 400px;
        overflow: hidden;
        margin-bottom: 16px;

        @include media('<widescreen') {
            min-height: 300px;
        }

        @include media('<desktop') {
            min-height: 270px;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: $anim_03;
        }
    }

    .item-title {
        margin: 0;
        color: $black;
        font: $regular 18px/1.1 $Montserrat;
        text-transform: uppercase;

        @include media('<phone') {
            font-size: 16px;
        }
    }

    .orange {
        margin: 0;

        @include media('<tablet') {
            font-size: 14px;
        }
    }

    .text {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        max-height: 400px;
        padding: 35px;
        margin: 0;
        background-color: rgba($white, 0.4);
        backdrop-filter: blur(10px);
        overflow: auto;
        overscroll-behavior: none;
        color: $black;
        font: $regular 18px/1.4 $Montserrat;
        letter-spacing: 0.36px;
        opacity: 0;
        transition: $anim_03;

        @include media('<widescreen') {
            max-height: 300px;
        }

        @include media('<desktop') {
            max-height: 0;
            position: relative;
            opacity: 1;
            padding: 0;
            background: none;
            backdrop-filter: blur(0);
        }

        @include media('<tablet') {
            font-size: 16px;
        }

        &::-webkit-scrollbar {
            width: 5px;

            @include media('<desktop') {
                width: 0;
            }
        }
    }

    .title-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .link-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .btn {
        font-size: 14px;
        padding: 9px 22px;
    }

    .des {
        @include media('<desktop') {
            display: none;
        }
    }

    .mob {
        display: none;

        @include media('<desktop') {
            display: flex;
        }
    }

    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        padding-top: 80px;
    }

    .pag-arrow {
        width: 32px;
        height: 32px;
        border: none;
        background: none;
        padding: 0;
        margin: 0;

        &.right {
            transform: rotate(180deg);
        }

        svg {
            display: block;
            fill: $accent;
        }

        &[disabled] {
            svg {
                display: block;
                fill: $gray;
            }
        }
    }

    .pag-numbers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 5px;
    }

    .page-number {
        min-width: 18px;
        background: none;
        padding: 0;
        margin: 0;
        border: none;
        border-bottom: 1px solid transparent;
        color: $black;
        font: $regular 18px/1.4 $Montserrat;
        letter-spacing: 0.36px;
        transition: $anim_03;

        &.active {
            color: $accent;
            border-color: $accent;
        }
    }

    .policy-block {
        display: flex;
        align-items: flex-start;
        gap: 40px;

        @include media('<desktop') {
            flex-direction: column;
        }
    }

    .nav-wrap {
        width: 100%;
        max-width: 450px;
        min-width: 450px;

        @include media('<widescreen') {
            max-width: 350px;
            min-width: 350px;
        }

        @include media('<desktop') {
            max-width: 100%;
            min-width: 100%;
        }
    }

    .nav-box {
        position: relative;
        max-width: 450px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 0 0 7px 16px;
        margin: 0;
        list-style: none;
        transition: $anim_03;

        @include media('<widescreen') {
            max-width: 350px;
        }

        @include media('<desktop') {
            max-width: 100%;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -2px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $accent;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background: rgb(4, 4, 31);
            background: linear-gradient(
                0deg,
                rgba(4, 4, 31, 0) 0%,
                rgba(184, 96, 28, 1) 100%
            );
        }

        &.is-sticky {
            position: fixed;
            top: 180px;
            width: 100%;

            @include media('<desktop') {
                position: relative;
                top: 0;
            }
        }
    }

    .nav-item {
        &.active {
            .nav-link {
                color: $accent;
            }
        }
    }

    .nav-link {
        color: $black;
        font: $semi-bold 16px/1.4 $Montserrat;
        letter-spacing: 0.32px;
        transition: $anim_03;

        &:hover {
            color: $accent;
        }
    }

    .policy-content {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .policy-box {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &.active {
            .policy-title {
                color: $accent;
            }
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $black;
            font-family: $Montserrat;
            font-weight: $medium;
            line-height: normal;
            text-transform: uppercase;
            margin: 0;
        }

        h2 {
            font-size: 30px;

            @include media('<tablet') {
                font-size: 22px;
            }
        }

        h3 {
            font-size: 18px;

            @include media('<tablet') {
                font-size: 14px;
            }
        }

        h4 {
            font-size: 17px;

            @include media('<tablet') {
                font-size: 12px;
            }
        }

        h5 {
            font-size: 16px;

            @include media('<tablet') {
                font-size: 12px;
            }
        }

        h6 {
            font-size: 14px;

            @include media('<tablet') {
                font-size: 12px;
            }
        }

        p,
        li {
            margin: 0;
            color: $gray66;
            font: $regular 18px/1.4 $Montserrat;
            letter-spacing: 0.36px;

            @include media('<phone') {
                font-size: 16px;
            }
        }

        a {
            color: inherit;
            text-decoration: underline;
            transition: $anim_03;

            &:hover {
                color: $accent;
            }
        }

        ul,
        ol {
            padding: 0 0 0 30px;
            margin: 0;
        }

        ul {
            li {
                &::marker {
                    font-size: 10px;
                }
            }
        }

        ol {
            li {
                &::marker {
                    font-size: 14px;
                }
            }
        }

        .policy-title {
            margin: 0;
            color: $black;
            font: $regular 30px $Montserrat;
            letter-spacing: 0.6px;

            @include media('<tablet') {
                font-size: 22px;
            }
        }
    }
}

/* ------------------------error-section--------------------- */

.error-section {
    position: relative;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 100px 0;

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .content {
        max-width: 864px;
        margin: 0 auto;
        text-align: center;
    }

    .error-title {
        margin-bottom: 26px;
        color: $white;
        font: $regular 80px $Montserrat;
        letter-spacing: 4px;

        @include media('<widescreen') {
            font-size: 50px;
        }

        @include media('<tablet') {
            font-size: 36px;
        }

        @include media('<phone') {
            margin-bottom: 16px;
            font-size: 30px;
            font-weight: $medium;
            letter-spacing: 1.5px;
        }
    }

    .text {
        margin-bottom: 40px;
        color: $white;
        font: $medium 18px/1.4 $Montserrat;
        letter-spacing: 0.36px;

        @include media('<phone') {
            margin-bottom: 24px;
            font-size: 16px;
            font-weight: $regular;
        }
    }
}
