.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 26px 0;
    z-index: 10;

    @include media('<widescreen') {
        padding: 24px 0;
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(99, 95, 90, 0.2);
        box-shadow: 0px 2px 4px 0px rgba(92, 92, 92, 0.25);
        backdrop-filter: blur(20px);
        z-index: -1;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    .logo {
        z-index: 1;

        svg {
            display: block;

            @include media('<laptop') {
                max-width: 100px;
                height: 36px;
            }

            @include media('<widescreen') {
                max-width: 120px;
            }
        }
    }

    .menu-block {
        display: flex;
        align-items: center;

        @include media('<widescreen') {
            position: absolute;
            top: 0;
            right: -100%;
            width: 40%;
            height: 100vh;
            min-height: 100vh;
            flex-direction: column;
            justify-content: space-between;
            padding: 100px 0 40px 0;
            transition: $anim_05;
            background-color: $orange1E;
            overflow: auto;
        }

        @include media('<tablet') {
            width: 70%;
        }

        @include media('<phone') {
            width: 100%;
        }

        .active & {
            right: 0;
        }
    }

    .menu-wrap {
        z-index: 1;
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 40px;
        list-style: none;
        margin: 0;
        padding: 0;

        @include media('<laptop') {
            gap: 20px;
        }

        @include media('<widescreen') {
            flex-direction: column;
            gap: 40px;
            padding: 40px 12px;
        }
    }

    .link {
        color: $white;
        font: $regular 16px $Montserrat;
        letter-spacing: 0.32px;
        transition: $anim_03;

        @include media('>=widescreen') {
            &:hover {
                color: $orange;
            }
        }

        @include media('<widescreen_x') {
            font-size: 14px;
        }

        @include media('<widescreen') {
            font-size: 16px;
        }
    }

    .btn {
        @include media('<widescreen') {
            display: none;
        }
    }

    .mob {
        display: none;

        @include media('<widescreen') {
            display: flex;
            flex-direction: column;
        }
    }

    .soc-box {
        width: 100%;
        gap: 16px;
        padding: 24px 12px;
        border-top: 1px solid rgba($white, 0.2);
        border-bottom: 1px solid rgba($white, 0.2);
        text-align: center;
    }

    .phone {
        color: $white;
        font: $semi-bold 18px $Montserrat;
    }

    .socials {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .text-box {
        width: 100%;
        gap: 8px;
        padding: 24px 12px 0 12px;
    }

    .text {
        margin: 0;
        color: $white;
        font: $regular 16px/1.5 $Montserrat;
    }
}

/* ---------------burger */

.burger {
    position: relative;
    max-height: 40px;
    width: 38px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    border: none;
    outline: none;
    background: none;
    display: none;

    @include media('<widescreen') {
        display: block;
    }

    svg {
        position: absolute;
        left: 0;
        top: 0;
        height: 40px;
        width: 40px;
        transform: scale(1.5);
    }

    .plate {
        height: 40px;
        width: 40px;
        transform-origin: 50%;
        transition: transform 400ms 100ms;
    }

    .x {
        transform: scale(0);
        transition: transform 400ms;

        .line {
            stroke-width: 5.5px;
        }
    }

    .line {
        fill: none;
        stroke: $white;
        stroke-width: 4px;
        stroke-linecap: round;
        stroke-linejoin: round;
        transform-origin: 50%;
        transition:
            stroke-dasharray 500ms 200ms,
            stroke-dashoffset 500ms 200ms,
            transform 500ms 200ms;
    }

    .active & {
        .line {
            transition: transform 400ms;
        }
        .line1 {
            transform: translateX(18px) translateY(-3px) rotate(-45deg)
                scale(0.7);
        }
        .line2 {
            transform: translateX(-18px) translateY(-3px) rotate(45deg)
                scale(0.7);
        }
        .line3 {
            transform: translateY(0px) rotate(45deg) scale(0.7);
        }
        .line4 {
            transform: translateY(0px) rotate(-45deg) scale(0.7);
        }
        .line5 {
            transform: translateX(18px) translateY(3px) rotate(45deg) scale(0.7);
        }
        .line6 {
            transform: translateX(-18px) translateY(3px) rotate(-45deg)
                scale(0.7);
        }
        .x {
            transition: transform 400ms 100ms;
            transform: scale(1.5);
        }
    }
}
