html {
    scroll-behavior: smooth;
}

body {
    background-color: $white;

    &.body_lock {
        overflow: hidden;
    }
}

#wrapper {
    position: relative;
    overflow: hidden;
}

.overflow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: $anim_03;

    .active & {
        z-index: 0;
        visibility: visible;
        opacity: 1;
    }
}

.container {
    width: 100%;
    max-width: 1520px;
    padding: 0 40px;
    margin: 0 auto;

    @include media('<phone') {
        padding: 0 12px;
    }
}

.title {
    padding-bottom: 40px;
    color: $black;
    font: $regular 50px/1.1 $Montserrat;
    text-transform: uppercase;

    @include media('<desktop') {
        padding-bottom: 16px;
        font-size: 38px;
    }

    @include media('<phone') {
        font-size: 24px;
    }
}

.btn {
    display: inline-block;
    padding: 12px 42px;
    border-radius: 100px;
    border: 2px solid transparent;
    font: $semi-bold 16px $Montserrat;
    letter-spacing: 0.32px;
    transition: $anim_03;

    &.main {
        background-color: $accent;
        color: $white;

        &:hover {
            background-color: $orange;
        }
    }

    &.sec {
        background-color: transparent;
        border-color: $accent;
        color: $accent;

        &:hover {
            background-color: $accent;
            color: $white;
        }
    }
}
